.card-container {
    width: 600px;
    height: 220px;
    background-color: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: flex;
    gap: 20px;
    line-height: 90%;
    overflow: hidden;
}

.info {
}

.info .status {
    padding-left: 17px;
}

.info .status > li::marker {
    color: #0F0;
    font-size: 1.2rem;
}