header {
    background-color: rgb(255, 255, 255);
    color: rgb(32, 35, 41);
    width: 100vw;
}

a {
    text-decoration: none;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    /* max-height: 1em; */
}

.nav-header-ul {
    display: flex;
    list-style-type: none;
    gap: 2em;
    margin-right: 2em;
    font-weight: bolder;
    align-items: center;
}

.nav-header-ul  button {
    background-color: transparent;
    color: rgb(32, 35, 41);
    border: 1px solid rgb(255, 152, 0);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1em 1.3em;
    border-radius: 1em;
}


